/*
 *               [PlugSlack]
 *   Cause only plug wasn't good enough
 *
 * Coded by Matheus Avellar ("Beta Tester")
 *
 * Most of the stuff here is probably not
 * the most efficient. But it works. So who cares.
 *
 */


/* ---- Edits on plug.dj content ---- */

div#chat-button {
    left: 0;
    width: 60px;
}

div#users-button {
    left: 124px;
    width: 80px;
}

div#waitlist-button {
    left: 205px;
    width: 80px;
}

/* ---------------------------------- */


/* ---- Actual plugSlack content ---- */

div#ps-button.header-panel-button {
    left: 60px;
    width: 65px;
}

div#ps-button i.icon {
    position: relative;
    top: 13px;
    display: inline-block;
    margin: 0 auto;
}

div#ps-button span.request-count {
    position: absolute;
    top: 8px;
    right: 4px;
    display: none;
    padding: 0 6px;
    min-width: 10px;
    border-radius: 12px;
    background: #db182e;
    text-align: center;
    font-size: 12px;
}

div#ps-button.notify span.request-count {
    display: block;
}

div#ps-chat {
    height: 100%;
    width: 100%;
    display: none;
}
div#ps-header {
    height: 25px;
    background-color: #282c35;
}

div.ps-btn {
    width: 115px;
    height: 100%;
    float: left;
    text-align: center;
    font-variant: small-caps;
    outline: 1px solid #1c1f25;
    cursor: pointer;
}
div.ps-btn.selected {
    background-color: #0a0a0a;
    cursor: default;
}
div.ps-btn span.ps-count {
    position: absolute;
    color: #808691;
    font-size: 10px;
    top: 4px;
    margin-left: 7px;
}

div#ps-chat div.channels-list,
div#ps-chat div.groups-list {
    display: none;
}

div#ps-chat div.users-list,
div#ps-chat div.channels-list,
div#ps-chat div.groups-list {
    height: 150px;
    border-bottom: 1px solid #282c35;
    overflow-y: scroll;
    margin-top: 10px;
}

div#ps-chat div.users-list div.user,
div#ps-chat div.channels-list div.channel,
div#ps-chat div.groups-list div.group {
    float: left;
    height: 25px;
    width: 160px;
    background-color: #282c35;
    margin: 2px;
    cursor: pointer;
}

div#ps-chat div.users-list div.user.selected,
div#ps-chat div.channels-list div.channel.selected,
div#ps-chat div.groups-list div.group.selected {
    background-color: #444A59 !important;
    outline: 1px solid #8694B2;
    cursor: default;
}

div#ps-chat div.users-list div.presence {
    height: 10px;
    width: 10px;
    float: left;
    border: 1px solid #89be6c;
    border-radius: 20px;
    margin-top: 7px;
    margin-left: 7px;
}

div#ps-chat div.users-list div.user[ps-uid^='USLACKBOT'] div.presence {
    color: #89be6c !important;
    background-color: transparent !important;
    border: none !important;
    margin: 3px 0px 0px 6px !important;
}
div#ps-chat div.users-list div.user[ps-uid^='USLACKBOT'] div.presence:before {
    content: "❤";
}


div#ps-chat div.users-list div.presence.active {
    background-color: #89be6c !important;
}
div#ps-chat div.users-list div.presence.away {
    background-color: transparent !important;
}

div#ps-chat div.users-list div.user div.username,
div#ps-chat div.channels-list div.channel div.channelName,
div#ps-chat div.groups-list div.group div.groupName {
    margin-top: 4px;
    font-size: 12px;
}

div#ps-chat div.users-list div.user div.username {
    margin-left: 25px;
}

div#ps-chat div.channels-list div.channel div.channelName,
div#ps-chat div.groups-list div.group div.groupName {
    margin-left: 15px;
}

div#ps-chat div.groups-list div.group div.groupName:before,
div#ps-chat div.channels-list div.channel div.channelName:before {
    content: "# ";
    color: #8694B2;
}

div.ps-start {
    bottom: 0px;
    position: absolute;
    z-index: 1;
    background-color: #009cdd;
    padding: 20px;
    height: 15px;
    text-align: center;
    cursor: pointer;
    width: calc(100% - 40px);
    padding-top: 10px;
    margin: 0px;
}

input#ps-token {
    border: 0px;
    padding: 5px;
    margin-right: 10px;
    font-family: "roboto";
    width: 195px;
    font-size: 8px;
    margin-left: -10px;
}

input#ps-submit {
    bottom: 10px;
    left: 10px;
    position: absolute;
    width: calc(100% - 30px);
    border: 0px;
    background-color: #282c35;
    color: #ededed;
    padding: 5px;
}

div#ps-actual-chat {
    overflow-y: scroll;
    margin-top: 5px;
    height: calc(100% - 233px);
    position: absolute;
    width: 100%;
    bottom: 45px;
    border-bottom: 1px solid #282C35;
}

div.ps-message {
    min-height: 46px;
    max-width: 320px;
    word-wrap: break-word;
    padding: 5px 8px 6px 0px;
}

div.ps-prof {
    height: 32px;
    width: 32px;
    position: absolute;
    display: inline;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 7px;
}

div.ps-meta {
    font-size: 11px;
    margin-left: 37px;
}

div.ps-text {
    margin-left: 30px;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    color: #eeeeee;
    margin-left: 50px;
}

div.ps-meta div.ps-from,
div.ps-meta div.ps-channel {
    display: inline;
    margin-left: 10px;
    color: #b0b0b0;
}

div.ps-meta div.ps-channel:before {
    content: "@";
}

div.ps-meta div.ps-time {
    display: inline;
    right: 10px;
    position: absolute;
    color: #555d70;
}

/* ---------------------------------- */