#users-button {
    left: 124px;
    width: 80px;
}
#waitlist-button {
    left: 205px;
    width: 80px;
}




#slack-button.header-panel-button {
    left: 60px;
    width: 65px;
}

#slack-button i.icon {
    position: relative;
    top: 13px;
    display: inline-block;
    margin: 0 auto;
}

#slack-button span.request-count {
    position: absolute;
    top: 8px;
    right: 4px;
    display: none;
    padding: 0 6px;
    min-width: 10px;
    border-radius: 12px;
    background: #db182e;
    text-align: center;
    font-size: 12px;
}

#slack-button.notify span.request-count